* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1b0940;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #1b0940;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 30px !important ;
  color: white;
  text-decoration: none !important;
  padding: 5px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 20px;

  cursor: pointer;
}

.navbar .logo:hover {
  color: #61dafb;
  cursor: pointer;
}

.navbar button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 40px;
  font-size: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
